body{
  background:#242424 !important;
  color: azure !important;
}
.card-container{
  background-color: #1c1c1c !important;
}

select{
  background-color: #080808 !important;
  border-color: grey !important;
}

.form-control, .form-control:focus{
  color: aliceblue !important;
  background-color: #080808 !important;
  border-color: grey !important;
}

.input-group-text{
  background-color: #636363 !important;
  border-color:  1px solid grey !important;
  color: aliceblue !important;
}

.modal-content{
  color: #fff !important;
  background-color: #343a40 !important;
  border: 1px solid grey !important;
}
.modal-body > .container-fluid > .row{
  background-color: #343a40 !important;
}
.close{
  color: grey !important;
}
.discord-ad{
  color: #fff;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

