body{
  background:#fff !important;
  color: #000 !important;
}

.card-container{
  background-color: #ffffff !important;
}


select{
  color: #495057 !important;
  background-color: #fff !important;
}

.form-control, .form-control:focus{
  color: #495057 !important;
  background-color: #fff !important;
}

.input-group-text{
  color: #495057 !important;
  background-color: #e9ecef !important;
}

.modal-content{
  color: #080808 !important;
  background-color: #fff !important;
  border: 1px solid grey !important;
}
.close{
  color: grey !important;
}
.discord-ad{
  border: 1px solid #396afc; 
  color: #fff;
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}